@model IEnumerable<IsIoTWeb.Models.Reading>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Welcome</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectorId)
            </th>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoilMoisture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirHummidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightIntensity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectorId)
                </td>
                <td>
                    @item.Date()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirTemp)
                </td>
                <td>
                    @if (item.SoilMoisture != null)
                    {
                        <div class="container">
                            <div class="row">
                                @foreach (var moisture in item.SoilMoisture)
                                {
                                    <div class="col-sm">@item.SoilMoisture.IndexOf(moisture): @moisture</div>
                                }
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirHummidity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LightIntensity)
                </td>
            </tr>
        }
    </tbody>
</table>
