@model IsIoTWeb.Models.User

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            User ID
        </dt>
        <dd class="col-sm-10">
            @IsIoTWeb.Utils.Utils.DynamicObjectIdToString(Model.Id.Timestamp, Model.Id.Machine, Model.Id.Pid, Model.Id.Increment)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Created On
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <div style="float: left"> 
        @Html.ActionLink("Edit",
            "Edit",
            new { id = IsIoTWeb.Utils.Utils.DynamicObjectIdToString(Model.Id.Timestamp, Model.Id.Machine, Model.Id.Pid, Model.Id.Increment) },
            new { @class = "btn btn-info" })
    </div>
    <div style="float: right"> 
        @Html.ActionLink("Delete", 
            "Delete",
            new { id = IsIoTWeb.Utils.Utils.DynamicObjectIdToString(Model.Id.Timestamp, Model.Id.Machine, Model.Id.Pid, Model.Id.Increment) },
            new { @class = "btn btn-danger" })
    </div>
</div>

