@model IEnumerable<IsIoTWeb.Models.ValveState>

@{
    ViewData["Title"] = "Control";
}

<h1 class="display-4">Valves Control</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ValveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.ActionLink($"Turn {item.State}", "Publish", item, new {@class="btn btn-info btn-md", style="white-space: normal" })
                </td>
            </tr>
        }
    </tbody>
</table>

